/* ==UserStyle==
@name        YouTrack CSS Tweaks
@version     2021.3.5
@namespace   cuddlecake
@homepageURL https://github.com/cuddlecake/youtrack-tweaks
@updateURL   https://cuddlecake.github.io/youtrack-tweaks/youtrack-tweaks.user.css
@author      cuddlecake
==/UserStyle== */

@-moz-document regexp("^https?://(.*.myjetbrains.com/youtrack|youtrack.jetbrains.com)/.*") {
  .yt-full-screen-mode .yt-agile-card__summary,
  .yt-full-screen-mode .yt-drag-agile-card__summary,
  .yt-full-screen-mode .yt-agile-table__row-title__summary__text {
    font-weight: 300 !important;
  }

  .yt-agile-card_customizable .yt-agile-card__summary,
  .yt-agile-card_customizable .yt-drag-agile-card__summary {
    font-size: 1rem !important;
  }

  .yt-issue-title {
    font-size: 1rem !important;
  }

  .yt-issues-issue__id {
    font-size: 0.875rem !important;
  }
  
  yt-markup :is(p) {
    max-width: 70ch;
    font-size: 16px;
  }
  
  yt-markup :is(h1, h2, h3, h4, h5, h6) {
    max-width: 50ch;
  }
  
  html:not(.theme-dark) .yt-issue-body__description-common {
    background: rgba(0,0,0,0.03);
  }
  
  html.theme--dark .yt-issue-body__description-common {
    background: rgba(0,0,0,0.1);
  }
  
  .yt-issue-body__description-common {
    padding: var(--ring-unit);
    border-radius: 12px;
    margin-left: 0;
  }
  
  .yt-issue-body__description__copy {
    left: -20px !important;
  }
  
  .yt-issue-body__summary__input {
    max-width: 76ch;
    margin-right: auto;
    padding-left: var(--ring-unit);
    padding-right: var(--ring-unit);
    border-radius: 12px;
  }
}
