/* ==UserStyle==
@name        YouTrack CSS Tweaks
@version     2020.12.1
@namespace   cuddlecake
@homepageURL https://github.com/cuddlecake/youtrack-tweaks
@updateURL   https://cuddlecake.github.io/youtrack-tweaks/youtrack-tweaks.user.css
@author      cuddlecake
==/UserStyle== */

@-moz-document regexp("^https?://(.*.myjetbrains.com/youtrack|youtrack.jetbrains.com)/.*") {
  .yt-full-screen-mode .yt-agile-card__summary,
  .yt-full-screen-mode .yt-drag-agile-card__summary,
  .yt-full-screen-mode .yt-agile-table__row-title__summary__text {
    font-weight: 300 !important;
  }

  .yt-agile-card_customizable .yt-agile-card__summary,
  .yt-agile-card_customizable .yt-drag-agile-card__summary {
    font-size: 1rem !important;
  }

  .yt-issue-title {
    font-size: 1rem !important;
  }

  .yt-issues-issue__id {
    font-size: 0.875rem !important;
  }
  
  .yt-issue-body__description-common {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    padding: calc(2*var(--ring-unit));
    background: rgba(0,0,0,0.1);
    border-radius: 12px;
  }
  
  .yt-issue-body__description__copy {
    left: -20px !important;
  }
  
  .yt-issue-body__summary__input {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
  }
}
