/* ==UserStyle==
@name        YouTrack CSS Tweaks
@version     2020.12.0
@namespace   cuddlecake
@homepageURL https://github.com/cuddlecake/youtrack-tweaks
@updateURL   https://cuddlecake.github.io/youtrack-tweaks/youtrack-tweaks.user.css
@author      cuddlecake
==/UserStyle== */

@-moz-document regexp("https://.*.myjetbrains.com/youtrack.*") {
  .yt-full-screen-mode .yt-agile-card__summary,
  .yt-full-screen-mode .yt-drag-agile-card__summary,
  .yt-full-screen-mode .yt-agile-table__row-title__summary__text {
    font-weight: 300 !important;
  }

  .yt-agile-card_customizable .yt-agile-card__summary,
  .yt-agile-card_customizable .yt-drag-agile-card__summary {
    font-size: 16px !important;
  }

  .yt-issue-title {
    font-size: 16px !important;
  }

  .yt-issues-issue__id {
    font-size: 14px !important;
  }
}
